{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section">
    <div class="container">
      <ul class="text-center">
        {{ range .RegularPages }}
          <li class="m-3">
            <a
              href="{{ .Permalink }}"
              class="text-link-default dark:text-darkmode-link-default underline hover:text-link-hover dark:hover:text-darkmode-link-hover visited:text-link-visited dark:visited:text-darkmode-link-visited focus-visible:text-link-focus dark:focus-visible:text-darkmode-link-focus active:text-link-active dark:active:text-darkmode-link-active block text-xl">
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </section>
{{ end }}
