<footer class="bg-light dark:bg-darkmode-light">
  <div class="container">
    <div
      class="grid grid-cols-1 gap-8 py-4 lg:grid-cols-[1fr_auto] lg:items-center lg:gap-6">
      <nav class="text-center" aria-label="Footer">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-3 inline-block">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </nav>
      <div class="flex justify-center lg:justify-end">
        <ul class="social-icons">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
  <div class="border-border dark:border-darkmode-border border-t py-4">
    <div
      class="text-text-light dark:text-darkmode-text-light container text-center">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
  </div>
</footer>
